<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">

<!--Chessboard Deps -->
<link rel="stylesheet" href="/chessboardjs/css/chessboard-0.3.0.css">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/chessboardjs/js/chessboard-0.3.0.js"></script>

</head>
<body>
  <div id="board" style="width: 400px"></div>
  <script>
    // let board = ChessBoard('board', 'start')
  </script>
  <script src="/js/bundle.js"></script>
</body>
</html>
