<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/bundle.js"></script>
</head>
<body>
  <h1>Light Dashboard</h1>
  <h4>Lights are currently: <span id="lightStatus"><%= lightStatus %></span></h4>
</body>
</html>
